.checkCol      { width: 2%; }
.nameCol       {}
.instructorCol {}
.enrollmentCol { width: 5%; }
.dateCol       { width: 17%; }

td.chefLabel {
	width: 200px;
	font-weight: bold;
}

form#search div { text-align: right; }
