.checkCol      { width: 2%; text-align: center; }
.deleteCol     { width: 5%; text-align: center; }
.codeCol       {}
.nameCol       {}
.titleCol      {}
.instructorCol {}
.enrollmentCol { width: 5%; text-align: right; }
.publicCol     { width: 5%; }
.dateTimeCol   { width: 17%; }
.dateCol       { width: 10%; }
.gradeCol      { width: 10%; text-align: right; }

table.chefEditItem { margin-top: 1em; }

td.chefLabel {
	font-weight: bold;
	padding-right: 20px;
}

td.chefLabel, td.chefValue { vertical-align:top; }

form#search div { text-align: right; }

#gradesTable th, #gradesTable td { width: 9%; text-align: center; }
#gradesTable input { width: 90%; text-align: center; }
.assignmentsTable input { width: 98%; }
