.checkCol      { width: 2%; }
.codeCol       { width: 10%; }
.nameCol       {}
.instructorCol {}
.enrollmentCol { width: 5%; }
.publicCol     { width: 5%; }
.dateCol       { width: 17%; }

table.chefEditItem { margin-top: 1em; }

td.chefLabel {
	font-weight: bold;
	padding-right: 20px;
}

td.chefLabel, td.chefValue { vertical-align:top; }

form#search div { text-align: right; }

#gradesTable th, #gradesTable td { width: 9%; text-align: center; }
#gradesTable input { width: 90%; text-align: center; }
