.checkCol      { width: 2%; }
.termCol       { width: 5%; }
.codeCol       { width: 5%; }
.nameCol       {}
.instructorCol {}
.enrollmentCol { width: 5%; }
.publicCol     { width: 5%; }
.dateCol       { width: 17%; }

td.chefLabel {
	width: 200px;
	font-weight: bold;
}

td.chefLabel, td.chefValue { vertical-align:top; }

form#search div { text-align: right; }
